#body{
    display: flex;
    font-family: Arial, sans-serif;
    color: black;
    justify-content: center;
    background: blue; 
}
nav{
    display: flex;
    background:white;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    margin: 0;
    align-items: center;
    padding: 8px;
    margin: -10px;
    border-radius: 1px;
    border: 2px solid black;
}
a{
   display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    gap: 6px;
    height: 4px;
    margin: 6px;
    text-decoration: none;
    color: black;
}
ul{
   display: flex;
    justify-content: center;
    border-radius: 1px;
    list-style: none;
    gap: 20px;
    width: 360px;
    padding: 13px;
    margin: 0px;
    align-items: center;
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 20px;
    height: 20px;
}
div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
    width: 241px;
}
div .icones{
    display: flex;
    width: 20px;
    gap: 8px;
}