#body{
    display: flex;
    font-family: Arial, sans-serif;
    color: black;
    justify-content: center;
}
nav{
    display: flex;
    background: white;
    text-align: center;
    width: 100%;
    height: 50%;
    gap: 3px;
    margin: 0;
    padding: 2px;
    margin: 0px;
    border-radius: 1px;
    border: 2px solid black;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: space-between;
    width: 25px;
    border-radius: 100px;
    border: 2px solid red;
} 
.icones-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    gap: 5px;
    flex-direction: row;
    }
a{
   display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    gap: 6px;
    text-decoration: none;
    color: black;
}
.menu{
    display: flex;
    justify-content: space-between;
    border-radius: 1px;
    list-style: none;
    gap: 44px;
    padding: 0px;
    margin: 0px;
    align-items: flex-end;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    text-align: center;
}
nav li :hover{
    background-color: blueviolet
}

section{
display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;
    align-items: center;
    gap: 20px;
    padding: 0%;
    margin: 0px;
    border-radius: 1px;
    border: 2px solid rgb(71, 6, 200);
    flex-direction: column;
    background-image: url(assets/images/moroccan-flower-dark.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}
#croissants{
  background-image:
   url(assets/images/fond\ blan.jpg);
   background-repeat: no-repeat;
   background-size: 90%;
   background-position: center center;   
    margin: 0;
  width: 100%;
    height: 100%;
    padding: 10px;
     margin: 10px;
}
.container-carte{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    flex-direction: column; 
    gap: 20px;
    width: 50%; 
}
.container-carte h1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    color: white;
}
.container-carte p{
    display: flex;
    color: rgb(104, 65, 245);
    font-size: 2em;
    background: linear-gradient(90deg, #92979b,#fff8dc,#b68d40);
    align-items: center;
    font-family: "playfair disply", serif;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    animation: shine 15s linear infinite;
    margin-top: 40px;
}
@keyframes shine {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}

.boutons {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: none;
    text-align: center;
}

.bouton-1{
    display: flex;
    justify-content:space-between;
    background-color: rgba(0, 0, 0, 0.676);
    border-radius: 4px;
    border: 2px solid;
    background: blueviolet;
}
.bouton-1 a{
    justify-content: center;
    color:white;
   align-items: center;
   
}
.bouton-2{
    color: black;
    justify-content: center;
    background-color:white;
    border-radius: 5px;
    border: 2px solid black;
}
.bouton-1:hover {
    background: black;
    cursor: auto;
}
#icon{
    width: 10%;
}
.bouton-2:hover {
    background: black;

}
.commentaire{
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    border-radius: 1Opx;
    gap: 10px;
    padding: 0px;
    margin: 0px;
}
.commentaire ul{
    display: flex;
    background: gray;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.article-carte1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    gap: 5px;
    width: 100%;
}
.article img{
 width: 100%;
 height: 50%;
  object-fit: cover;
  padding: 0px;
  margin: 10px;
  gap: 20px;
}
div{
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
div h2{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2em;
    background: linear-gradient(90deg, #92979b,white,#b68d40);
    align-items: center;
    font-family: "playfair disply", serif;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    animation: shine 15s linear infinite;
    margin-top: 40px;

}
@keyframes shine {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}
.article-carte2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100px;
    border:4px solid red;
    padding: 10px;
    margin: 10px;
    gap: 20px;
    width: 50%;
    height: 50%;
}
img{
    display: flex;
    width: 100%;
    height: 50%;
    object-fit: cover;
    padding: 1px;
    margin:15px;
    border-radius: 100px;
    border: px solid black;
    }

div{
   display: flex;
    align-items: center;
    justify-content: center;
} 
.article div h2{
   display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2em;
    background: linear-gradient(90deg, #f07e96,#185ef4,#b68d40);
    align-items: center;
    font-family: "playfair disply", serif;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    animation: shine 15s linear infinite;
    margin-top: 40px;
    border-radius: 10px;
    border: 2px solid black;
    width: 50%;
}
@keyframes shine {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}









