#body{
    display: flex;
    font-family: Arial, sans-serif;
    color: black;
    justify-content: center;
    background: blue; 
}
nav{
     display: flex;
    background: white;
    text-align: center;
    width: 100%;
    height: 50%;
    gap: 18px;
    margin: 0;
    align-items: center;
    padding: 2px;
    margin: 0px;
    border-radius: 1px;
    border: 2px solid black;
    justify-content: space-evenly;
    box-shadow: 16px teal;
}
    
a{
   display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    gap: 6px;
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    justify-content: space-between;
    border-radius: 1px;
    list-style: none;
    gap: 44px;
    padding: 0px;
    margin: 0px;
    align-items: flex-end;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    text-align: center;
}
nav li :hover{
    background-color: blueviolet
}
.logo img{
    width: 49px;
    height: 50px;
}

.liste-icones {
   display: flex;
    justify-content: center;
    gap: 6px;
    width: 100px;
    height: 50px;
}
section{
display: flex;
justify-content:flex-start;
width: 100%;
align-items: center;
gap: 20px;
 padding: 0%;
margin: 0px;
border-radius: 1px;
    border:2px solid rgb(71, 6, 200);
}
#croissants{
  background-image:
   url(assets/images/croissant.png);
   background-repeat: no-repeat;
   background-size: 90%;
   background-position: center center;    margin: 0;
  width: 100vm;
    height: 50vw;
    padding: 20px;
     margin: 20px;
}
.container-carte{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    flex-direction: column; 
    gap: 20px;
    width: 50%; 
}
.container-carte h1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    color: white;
}
.container-carte p{
    display: flex;
    color: rgb(104, 65, 245);
    font-size: 2em;
    background: linear-gradient(90deg, #92979b,#fff8dc,#b68d40);
    align-items: center;
    font-family: "playfair disply", serif;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    animation: shine 15s linear infinite;
    margin-top: 40px;
}
@keyframes shine {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}

.boutons {
    display: flex;
    gap: 2px;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.bouton-premier {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.676);
    border-radius: 4px;
    border: 2px solid;
    background: blueviolet;
}
.bouton-premier a{
    color:white;
   align-items: center;
   
}
.bouton-second{
    color: black;
    justify-content: center;
    background-color:white;
    border-radius: 5px;
    border: 2px solid black;
}
.bouton-premier:hover {
    background: black;
    cursor: auto;
}
.bouton-second:hover {
    background: black;

}
.commentaire{
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    border-radius: 1Opx;
    gap: 10px;
    padding: 0px;
    margin: 0px;
}
.commentaire ul{
    display: flex;
    background: gray;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.article{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    gap: 5px;
    width: 50%;
}
.article img{
 width: 100%;
 height: 50%;
  object-fit: cover;
  padding: 10px;
  margin: 10px;
  gap: 20px;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
div h2{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2em;
    background: linear-gradient(90deg, #92979b,#185ef4,#b68d40);
    align-items: center;
    font-family: "playfair disply", serif;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    animation: shine 15s linear infinite;
    margin-top: 40px;
}
@keyframes shine {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}
.article2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100px;
    border:4px solid red;
    padding: 10px;
    margin: 10px;
    gap: 20px;
    width: 100%;
    height: 50%;
}
img{
    display: flex;
    width: 50%;
    height: 50%;
    object-fit: cover;
    padding: 10px;
    margin: 20px;

   }
div{
   display: flex;
    align-items: center;
    justify-content: center;
} 
div h2{
   display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2em;
    background: linear-gradient(90deg, #f07e96,#185ef4,#b68d40);
    align-items: center;
    font-family: "playfair disply", serif;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    animation: shine 15s linear infinite;
    margin-top: 40px;
}
@keyframes shine {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}









