#body{
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
}
nav{
    display: flex;
    background: white;
    text-align: center;
    width: 100%;
    gap: 5px;
    margin: 0px;
    padding: 0px;
    border-radius: 1px;
    border: 2px solid black;
    justify-content: space-evenly;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    gap: 5px;
    }
ul a{
    display: flex;
       text-decoration: none;
       font-size: 15px;
}

ul{
    display: flex;
    align-items: center;
    gap: 10%;
    width: 50%;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: nowrap;
}
ul a:hover{
    color: blueviolet;
}

.liste-icons{
    display: flex;
    justify-content: center;
    align-self:center;
    height: 100px;
    width: 100px;
    gap: 5px;
}

#croissant{
  background-image:
   url(assets/images/fond\ blan.jpg);
   background-repeat: no-repeat;
   background-size: 90%;
   background-position: center center;   
    margin: 0;
  width: 100%;
    height: 100%;
    padding: 10px;
     margin: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    width: 100vh;
    height: 100vh;
    flex-direction: column;
    background-image: url(assets/images/moroccan-flower-dark.png);
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    color: rgb(244, 240, 252);
    font-family: "Poppins", sans-serif;
    font-size: 50px;
}
p{
 display: flex;
    color: rgb(104, 65, 245);
    font-size: 2em;
    background: springgreen;
    align-items: center;
    font-family: "playfair disply", serif;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: shine 15s 
linear infinite;
    margin-top: 40px;
    font-size: 30px;
}
@keyframes shine {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}

.boutton a{
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    flex-direction: row;
    border-radius: 10px;
    border: 2px solid black;
    width: 80%;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
.boutton1{
    color:white;
}
.boutton1:hover{
    border-radius: 100px;
}
div a{
    background-color: aliceblue;
    color: #000;
}
div a:hover{
    background: blueviolet;
}
#icon{
    width: 10%;
}

.commentaire ul{
    display: flex;
    justify-content: center;
    border-radius: 1px;
    list-style: none;
    gap: 44px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    text-align: center;

}
.article-carte1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    flex-direction: column; 
    gap: 20px;
    width: 50%; 
    background: #b68d40;
}
.photo{
    width: 100%;
    height: 50%;
    gap: 5px;
}
.article2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.container-carte h1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    color: white;
}
.container-carte p{
    display: flex;
    font-size: 2em;
    background: springgreen;
    align-items: center;
    font-family: "playfair disply", serif;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: shine 15s 
linear infinite;
    margin-top: 40px;
}
@keyframes shine {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}
.article-carte1{
   display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    gap: 5px;
    height: 100%;
    width: 100%;
    flex-direction: row;
    background: burlywood;
}

.article img{
 width: 100%;
 height: 50%;
  object-fit: cover;
  padding: 0px;
  margin: 10px;
  gap: 20px;
}

div h2{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    font-size: 2em;
    background: linear-gradient(90deg, #0c0c0c,
    rgb(245, 244, 244),#cc0c2cc4);
    align-items: center;
    font-family: "playfair disply", serif;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    animation: shine 15s linear infinite;
    margin-top: 40px;

}
@keyframes shine {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}
.article-carte2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    gap: 20px;
    width: 100%;
}
img{
    display: flex;
    width: 100%;
    object-fit: cover;
    padding: 1px;
    margin: 0px;
    border-radius: 10px;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.article div h2{
   display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2em;
    background: linear-gradient(90deg, #f07e96,#185ef4,#b68d40);
    align-items: center;
    font-family: "playfair disply", serif;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    animation: shine 15s linear;
    margin-top: 40px;
    border-radius: 10px;
    border: 2px solid black;
}
@keyframes shine {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}
section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    height: 30%;
    border-radius: 1px;
    border: 2px solid black;

}
.image-cartes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin: 5px;
    background: #b68d40;
}
.image-carte1{
    display: contents;
    width: 50%;
    width: 50%;
    gap: 10px;
}
.image-carte2{
   width: 100%;
    height: 50%;
    gap: 10px;
}
div{
   display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.info-cartes{
   display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80vh;
    height: 100vh;
    flex-direction: row;
    padding:0px;
    gap: 5px;
} 

.section-phrases{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    flex-direction: column-reverse;
}
.phrase-card1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}
.phrase-card2{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

div.carte-femme {
   display: flex;
    width: 82%;
    object-fit: cover;
    padding: 26px;
    margin: 10px;
    border-radius: 10px;
    align-content: center;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
}

.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    background: #f07e96;
}
.etoiles{
    width: 10px;
    height: 10px;

}
h4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 50%;
}
    





















