#body{
    display: flex;
    font-family: Arial, sans-serif;
    color: black;
    justify-content: center;
    background: blue; 
}
nav{
     display: flex;
    background: white;
    text-align: center;
    width: 100%;
    height: 50%;
    gap: 18px;
    margin: 0;
    align-items: center;
    padding: 2px;
    margin: 0px;
    border-radius: 1px;
    border: 2px solid black;
    justify-content: space-evenly;
    box-shadow: 16px teal;
}
    
a{
   display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    gap: 6px;
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    justify-content: space-between;
    border-radius: 1px;
    list-style: none;
    gap: 44px;
    padding: 0px;
    margin: 0px;
    align-items: flex-end;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    text-align: center;
}
nav li :hover{
    background-color: blueviolet
}
.logo img{
    width: 49px;
    height: 50px;
}

.liste-icones {
   display: flex;
    justify-content: center;
    gap: 6px;
    width: 100px;
    height: 50px;
}
div .icones{
    display: flex;
    width: 20px;
    gap: 8px;
}
section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 20px;
    padding: 0%;
    margin: 0px;
    border-radius: 1px;
    border:4px solid rgb(38, 37, 40);
}
#croissant{
    background-image: url(assets/images/croissant.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    background-size: 100%;
}
.container-carte{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    flex-direction: column; 
    gap: 20px;
    width: 100%; 
}
.container-carte h1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    color: white;
}
.container-carte p{
    display: flex;
    color: rgb(104, 65, 245);
    font-size: 2em;
    background: linear-gradient(90deg, #92979b,#fff8dc,#b68d40);
    align-items: center;
    font-family: "playfair disply", serif;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    animation: shine 15s linear infinite;
    margin-top: 40px;
}
@keyframes shine {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}

.boutons {
    display: flex;
    gap: 2px;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.bouton{
    display: flex;
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    font-family: Arial, sans-serif;

}
.bouton-premier {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.676);
    border-radius: 4px;
    border: 2px solid;
    background: blueviolet;
}

.bouton-premier a{
    color:white;
   align-items: center;
   
}
.bouton-second{
    color: black;
    justify-content: center;
    background-color:white;
    border-radius: 5px;
    border: 2px solid black;
}
.bouton-premier:hover {
    background: black;
    cursor: auto;
}
.bouton-second:hover {
    background: black;

}
.article-one{
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    border-radius: 1Opx;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%;
}
.carte-liste {
    display: flex;
    background: gray;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 50%;
}

.carte {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.carte img{
    display: flex;
    width: 50%;
    height: 5%;
    padding: 5px;
}

#croissants{

   background-image: url(assets/images/croissant.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center center;
    margin: 0;
    width: 100vw;
    height: 60vw;
    padding: 20px;
    margin: 20px;
}

.article-one li{
 display: flex;
    justify-content: flex-end;
}
.article-two{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.all-images{
    display: flex;
    height: 30%;
    padding: 10px;
    margin: 10px;
    align-items: center;
    gap:5px;

}
